In [10]:
#Prime No



Number = int(input("Enter the. number"))


#process
isPrime = True 

for i in range(2,Number):
    if Number % i == 0 :
        isPrime = False
        break


#output

if isPrime :
    print("Prime NO")
else:
    print("Not Prime")

Prime NO

In [11]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in row:
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [14]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,no-i+2):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [15]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,no-i+2):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [16]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,no-i+2):
        print(no-i+1,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [17]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,no-i+2):
        print(col,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [18]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [19]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,i+1):
        print(col,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,i+1):
        print(no-i+1,end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [24]:
# 1
# 2 1
# 3 2 1
# 4 3 2 1
# 5 4 3 2 1 

no = 10
row = range(1,no+1)

for i in row :
    for col in range(i,0,-1):
        print(col,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1

In [25]:
no = 5 
row = range(1,no+1)

for i in row :
    for col in range(1,i+1):
        print(chr(i+64),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [26]:
ord("A")

65

In [27]:
ord("a")

97

In [28]:
chr(128)

'\x80'

In [29]:
chr(108)

'l'

In [30]:
chr(120)

'x'

In [31]:
chr(126)

'~'

In [1]:
no = 5 
row = range(1,no+1)

for i in row :

    for space in range(1,no-i+1):
        print(" ",end=" ")

    for col in range(1,i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [3]:
no = 5 
row = range(1,no+1)

for i in row :

    for space in range(1,i):
        print(" ",end=" ")

    for col in range(1,no-i+2):
        print("*",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [4]:
no = 5 
row = range(1,no+1)

for i in row :

    for space in range(1,no-i+1):
        print(" ",end="")

    for col in range(1,i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *