In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("../sales_data.csv")

In [4]:
df.head(5)

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

In [5]:
df.tail(5)

           date     product     category  price  quantity  revenue
364  2022-12-27       Watch  Accessories  150.0       5.0    750.0
365  2022-12-28        Coat     Clothing  100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics  100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics  600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing   40.0      30.0   1200.0

In [6]:
df.isnull().sum()

date        0
product     0
category    0
price       2
quantity    1
revenue     1
dtype: int64

In [7]:
df[df["price"].isnull()]

           date product     category  price  quantity  revenue
193  2022-07-11   Watch  Accessories    NaN      15.0   2250.0
320  2022-11-13  Wallet  Accessories    NaN      35.0   1050.0

In [8]:
df["price"][df["price"].isnull()] = df["revenue"] / df["quantity"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/1200409500.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["price"][df["price"].isnull()] = df["revenue"] / df["quantity"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/1200409500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"][df["price"].isnull()] = df["revenue"] / df["quantity"]

In [9]:
df.isnull().sum()

date        0
product     0
category    0
price       0
quantity    1
revenue     1
dtype: int64

In [10]:
df["quantity"][df["quantity"].isnull()] = df["revenue"] / df["price"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/2694337121.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["quantity"][df["quantity"].isnull()] = df["revenue"] / df["price"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/2694337121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["quantity"][df["quantity"].isnull()] = df["revenue"] / df["price"]

In [11]:
df.isnull().sum()

date        0
product     0
category    0
price       0
quantity    0
revenue     1
dtype: int64

In [12]:
df["revenue"][df["revenue"].isnull()] = df["quantity"] * df["price"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/3173015606.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["revenue"][df["revenue"].isnull()] = df["quantity"] * df["price"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/3173015606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["revenue"][df["revenue"].isnull()] = df["quantity"] * df["price"]

In [13]:
df.isnull().sum()

date        0
product     0
category    0
price       0
quantity    0
revenue     0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    float64
 4   quantity  369 non-null    float64
 5   revenue   369 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [15]:
df["price"]= df["price"].astype("int64")
df["quantity"]= df["quantity"].astype("int64")
df["revenue"]= df["revenue"].astype("int64")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    int64
 4   quantity  369 non-null    int64
 5   revenue   369 non-null    int64
dtypes: int64(3), object(3)
memory usage: 17.4+ KB

In [17]:
df.duplicated().sum()

1

In [19]:
df = df.drop_duplicates()

In [20]:
df.duplicated().sum()

0

In [21]:
df["category"].unique()

array(['Electronics', 'Clothing', 'Accessories', 'Bags', 'Shoes',
       'Clohting', 'Bgas', 'Shoeses'], dtype=object)

In [22]:
df["category"][df["category"]=="Clohting"] = "Clothing"
df["category"][df["category"]=="Bgas"] = "Bags"
df["category"][df["category"]=="Shoeses"] = "Shoes"

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/1937869388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["category"][df["category"]=="Bgas"] = "Bags"
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/1937869388.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["category"][df["category"]=="Shoeses"] = "Shoes"

In [23]:
df["category"].unique()

array(['Electronics', 'Clothing', 'Accessories', 'Bags', 'Shoes'],
      dtype=object)

In [24]:
df["product"].unique()

array(['Smartphone', 'Laptop', 'T-Shirt', 'Headphones', 'Watch', 'Tablet',
       'Coat', 'Smartwatch', 'Speaker', 'Backpack', 'Hoodie', 'Sneakers',
       'Wallet', 'Jeans'], dtype=object)

In [25]:
df["date"].unique()

array(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
       '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
       '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
       '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
       '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
       '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
       '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
       '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
       '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
       '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
       '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
       '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
       '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
       '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
       '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
       '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
       '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
       '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
       '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
       '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
       '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25',
       '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29',
       '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-02',
       '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06',
       '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10',
       '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14',
       '2022-04-15', '2022-04-16', '2022-04-17', '2022-04-18',
       '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
       '2022-04-23', '2022-04-24', '2022-04-25', '2022-04-26',
       '2022-04-27', '2022-04-28', '2022-04-29', '2022-04-30',
       '2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04',
       '2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08',
       '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12',
       '2022-05-13', '2022-05-14', '2022-05-15', '2022-05-16',
       '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20',
       '2022-05-21', '2022-05-22', '2022-05-23', '2022-05-24',
       '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28',
       '2022-05-29', '2022-05-30', '2022-05-31', '2022-06-01',
       '2022-06-02', '2022-06-03', '2022-06-04', '2022-06-05',
       '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09',
       '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-13',
       '2022-06-14', '2022-06-15', '2022-06-16', '2022-06-17',
       '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21',
       '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25',
       '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29',
       '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-03',
       '2022-07-04', '2022-07-05', '2022-07-06', '2022-07-07',
       '2022-07-08', '2022-07-09', '2022-07-10', '2022-07-11',
       '2022-07-12', '2022-07-13', '2022-07-14', '2022-07-15',
       '2022-07-16', '2022-07-17', '2022-07-18', '2022-07-19',
       '2022-07-20', '2022-07-21', '2022-07-22', '2022-07-23',
       '2022-07-24', '2022-07-25', '2022-07-26', '2022-07-27',
       '2022-07-28', '2022-07-29', '2022-07-30', '2022-07-31',
       '2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
       '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08',
       '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12',
       '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16',
       '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20',
       '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24',
       '2022-08-25', '2022-08-26', '2022-08-27', '2022-08-28',
       '2022-08-29', '2022-08-30', '2022-08-31', '2022-09-01',
       '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05',
       '2022-09-06', '2022-09-07', '2022-09-08', '2022-09-09',
       '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13',
       '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-17',
       '2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21',
       '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25',
       '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29',
       '2022-09-30', '2022-10-01', '2022-10-02', '2022-10-03',
       '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07',
       '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11',
       '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15',
       '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19',
       '2022-10-20', '2022-10-21', '2022-10-22', '2022-10-23',
       '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27',
       '2022-10-28', '2022-10-29', '2022-10-30', '2022-10-31',
       '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
       '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08',
       '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12',
       '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16',
       '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20',
       '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24',
       '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28',
       '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02',
       '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06',
       '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
       '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14',
       '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18',
       '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22',
       '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
       '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
       '2022-12-31'], dtype=object)

In [26]:
# Total turnover 
df["revenue"].sum()

759130

In [27]:
df.groupby("product")["revenue"].sum().max()

434400

In [31]:
rvbyCat=df.groupby("product")["revenue"].sum()

In [37]:
rvbyCat[rvbyCat == rvbyCat.max()]

product
Smartphone    434400
Name: revenue, dtype: int64

In [38]:
avgpriceByPro= df.groupby("product")["price"].mean()

In [39]:
avgpriceByPro

product
Backpack        50.0
Coat           100.0
Headphones     100.0
Hoodie          40.0
Jeans           50.0
Laptop        1200.0
Smartphone     600.0
Smartwatch     200.0
Sneakers        80.0
Speaker         80.0
T-Shirt         20.0
Tablet         400.0
Wallet          30.0
Watch          150.0
Name: price, dtype: float64

In [40]:
tqbyPro= df.groupby("product")["quantity"].sum()

In [41]:
tqbyPro

product
Backpack       408
Coat           338
Headphones     180
Hoodie         495
Jeans          413
Laptop           5
Smartphone     724
Smartwatch     304
Sneakers       270
Speaker        496
T-Shirt       1005
Tablet          45
Wallet         440
Watch          218
Name: quantity, dtype: int64

In [42]:
catByreve = df.groupby("category")["revenue"].sum()

In [43]:
catByreve[catByreve == catByreve.max()]

category
Electronics    516080
Name: revenue, dtype: int64

In [44]:
avgrev = df.groupby("quantity")["revenue"].mean()

In [45]:
avgrev

quantity
3     1200.000000
4     1600.000000
5      940.740741
6     3000.000000
7     4078.260870
8     1302.500000
9     4500.000000
10    2573.170732
11    6600.000000
12    3403.333333
15    1015.625000
18    1245.000000
20    1075.000000
22    1760.000000
25    1108.695652
30     920.000000
35     840.000000
40    1100.000000
50    1000.000000
Name: revenue, dtype: float64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 368 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      368 non-null    object
 1   product   368 non-null    object
 2   category  368 non-null    object
 3   price     368 non-null    int64
 4   quantity  368 non-null    int64
 5   revenue   368 non-null    int64
dtypes: int64(3), object(3)
memory usage: 20.1+ KB

In [47]:
df["date"] = pd.to_datetime(df["date"])

In [48]:
df["quarter"] = df["date"].dt.quarter

In [49]:
df.head(5)

        date     product     category  price  quantity  revenue  quarter
0 2022-01-01  Smartphone  Electronics    600        10     6000        1
1 2022-01-01      Laptop  Electronics   1200         5     6000        1
2 2022-01-02     T-Shirt     Clothing     20        50     1000        1
3 2022-01-03  Headphones  Electronics    100        20     2000        1
4 2022-01-04     T-Shirt     Clothing     20        25      500        1

In [50]:
revQuat= df.groupby("quarter")["revenue"].sum()

In [51]:
revQuat

quarter
1    182100
2    185970
3    197680
4    193380
Name: revenue, dtype: int64