In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("../sales_data.csv")

In [4]:
df.head(5)

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

In [5]:
df.tail(5)

           date     product     category  price  quantity  revenue
364  2022-12-27       Watch  Accessories  150.0       5.0    750.0
365  2022-12-28        Coat     Clothing  100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics  100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics  600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing   40.0      30.0   1200.0

In [6]:
df.isnull().sum()

date        0
product     0
category    0
price       2
quantity    1
revenue     1
dtype: int64

In [7]:
df[df["price"].isnull()]

           date product     category  price  quantity  revenue
193  2022-07-11   Watch  Accessories    NaN      15.0   2250.0
320  2022-11-13  Wallet  Accessories    NaN      35.0   1050.0

In [8]:
df["price"][df["price"].isnull()] = df["revenue"] / df["quantity"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/1200409500.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["price"][df["price"].isnull()] = df["revenue"] / df["quantity"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/1200409500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"][df["price"].isnull()] = df["revenue"] / df["quantity"]

In [9]:
df.isnull().sum()

date        0
product     0
category    0
price       0
quantity    1
revenue     1
dtype: int64

In [10]:
df["quantity"][df["quantity"].isnull()] = df["revenue"] / df["price"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/2694337121.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["quantity"][df["quantity"].isnull()] = df["revenue"] / df["price"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/2694337121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["quantity"][df["quantity"].isnull()] = df["revenue"] / df["price"]

In [11]:
df.isnull().sum()

date        0
product     0
category    0
price       0
quantity    0
revenue     1
dtype: int64

In [12]:
df["revenue"][df["revenue"].isnull()] = df["quantity"] * df["price"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/3173015606.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["revenue"][df["revenue"].isnull()] = df["quantity"] * df["price"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_10803/3173015606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["revenue"][df["revenue"].isnull()] = df["quantity"] * df["price"]

In [13]:
df.isnull().sum()

date        0
product     0
category    0
price       0
quantity    0
revenue     0
dtype: int64