In [1]:
%pip install numpy
%pip install pandas
%pip install matplotlib
%pip install seaborn
%pip install plotly

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.26.4)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in /Users/macpc/Library/Python/3.12/lib/python/site-packages (from plotly) (24.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data = pd.read_csv("../sales_data.csv")

In [4]:
data

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[369 rows x 6 columns]

In [5]:
data["date"]

0      2022-01-01
1      2022-01-01
2      2022-01-02
3      2022-01-03
4      2022-01-04
          ...
364    2022-12-27
365    2022-12-28
366    2022-12-29
367    2022-12-30
368    2022-12-31
Name: date, Length: 369, dtype: object

In [6]:
data["category"]

0      Electronics
1      Electronics
2         Clothing
3      Electronics
4         Clothing
          ...
364    Accessories
365       Clothing
366    Electronics
367    Electronics
368       Clothing
Name: category, Length: 369, dtype: object

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [10]:
data["price"][data["price"] == None] = data["revenue"] / data["quantity"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_12997/1468394833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["price"][data["price"] == None] = data["revenue"] / data["quantity"]

Series([], Name: price, dtype: float64)

In [13]:
data.isnull().sum()

date        0
product     0
category    0
price       2
quantity    1
revenue     1
dtype: int64

In [14]:
data["price"].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
364    False
365    False
366    False
367    False
368    False
Name: price, Length: 369, dtype: bool

In [16]:
data["price"][data["price"].isnull()] = data["revenue"] / data["quantity"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_12997/2456093757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["price"][data["price"].isnull()] = data["revenue"] / data["quantity"]

In [17]:
data["price"][320]

30.0

In [18]:
data["price"].isnull().sum()

0

In [19]:
data["quantity"][data["quantity"].isnull()] = data["revenue"]/ data["price"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_12997/792893271.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["quantity"][data["quantity"].isnull()] = data["revenue"]/ data["price"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_12997/792893271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["quantity"][data["quantity"].isnull()] = data["revenue"]/ data["price"]

In [20]:
data["quantity"].isnull().sum()

0

In [21]:
data["revenue"][data["revenue"].isnull()] = data["price"] * data["quantity"]

/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_12997/3071423418.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["revenue"][data["revenue"].isnull()] = data["price"] * data["quantity"]
/var/folders/dy/q69lm6yx7cg8tqqkmwwbbzmm0000gn/T/ipykernel_12997/3071423418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["revenue"][data["revenue"].isnull()] = data["price"] * data["quantity"]

In [22]:
data["revenue"].isnull().sum()

0

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    float64
 4   quantity  369 non-null    float64
 5   revenue   369 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [24]:
data["price"] = data["price"].astype(np.int64)
data["quantity"] = data["quantity"].astype(np.int64)
data["revenue"] = data["revenue"].astype(np.int64)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    int64
 4   quantity  369 non-null    int64
 5   revenue   369 non-null    int64
dtypes: int64(3), object(3)
memory usage: 17.4+ KB

In [26]:
data["date"] = pd.to_datetime(data["date"])

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    datetime64[ns]
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    int64
 4   quantity  369 non-null    int64
 5   revenue   369 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 17.4+ KB

In [28]:
data.describe()

                                date        price    quantity      revenue
count                            369   369.000000  369.000000   369.000000
mean   2022-07-01 15:05:21.951219456   210.569106   14.555556  2060.514905
min              2022-01-01 00:00:00    20.000000    3.000000   300.000000
25%              2022-04-01 00:00:00    50.000000    8.000000   800.000000
50%              2022-07-02 00:00:00   100.000000   12.000000  1200.000000
75%              2022-10-01 00:00:00   200.000000   20.000000  2400.000000
max              2022-12-31 00:00:00  1200.000000   50.000000  7200.000000
std                              NaN   226.934800    8.586059  1908.335265

In [29]:
data["revenue"].max()

7200

In [30]:
data["price"].mean()

210.5691056910569

In [32]:
data.groupby("category")["revenue"].sum()

category
Accessories    106700
Bags            19500
Bgas              900
Clohting         1200
Clothing        94350
Electronics    516080
Shoes           20640
Shoeses           960
Name: revenue, dtype: int64

In [33]:
data.groupby("product")["price"].mean()

product
Backpack        50.0
Coat           100.0
Headphones     100.0
Hoodie          40.0
Jeans           50.0
Laptop        1200.0
Smartphone     600.0
Smartwatch     200.0
Sneakers        80.0
Speaker         80.0
T-Shirt         20.0
Tablet         400.0
Wallet          30.0
Watch          150.0
Name: price, dtype: float64

In [34]:
data["price"][data["product"]=="Laptop"].mean() # select avg(price) from data where product = laptop

1200.0

In [37]:
# select price, category from data where product = jeans
data[["price","product","revenue"]][data["product"]=="Jeans"]

     price product  revenue
16      50   Jeans     1000
32      50   Jeans      750
42      50   Jeans      500
58      50   Jeans      900
69      50   Jeans     1250
86      50   Jeans     1000
100     50   Jeans      500
117     50   Jeans      750
131     50   Jeans     1250
147     50   Jeans     1000
161     50   Jeans      500
178     50   Jeans      750
192     50   Jeans     1250
208     50   Jeans     1000
222     50   Jeans      500
239     50   Jeans      750
253     50   Jeans     1250
269     50   Jeans     1000
284     50   Jeans      500
301     50   Jeans      750
315     50   Jeans     1250
331     50   Jeans     1000
345     50   Jeans      500
362     50   Jeans      750

In [38]:
# select price, category from data
data[["price","product","revenue"]]

     price     product  revenue
0      600  Smartphone     6000
1     1200      Laptop     6000
2       20     T-Shirt     1000
3      100  Headphones     2000
4       20     T-Shirt      500
..     ...         ...      ...
364    150       Watch      750
365    100        Coat      500
366    100  Headphones     1000
367    600  Smartphone     6600
368     40      Hoodie     1200

[369 rows x 3 columns]

In [39]:
data

          date     product     category  price  quantity  revenue
0   2022-01-01  Smartphone  Electronics    600        10     6000
1   2022-01-01      Laptop  Electronics   1200         5     6000
2   2022-01-02     T-Shirt     Clothing     20        50     1000
3   2022-01-03  Headphones  Electronics    100        20     2000
4   2022-01-04     T-Shirt     Clothing     20        25      500
..         ...         ...          ...    ...       ...      ...
364 2022-12-27       Watch  Accessories    150         5      750
365 2022-12-28        Coat     Clothing    100         5      500
366 2022-12-29  Headphones  Electronics    100        10     1000
367 2022-12-30  Smartphone  Electronics    600        11     6600
368 2022-12-31      Hoodie     Clothing     40        30     1200

[369 rows x 6 columns]

In [40]:
data["quarter"] = data["date"].dt.quarter

In [41]:
data

          date     product     category  price  quantity  revenue  quarter
0   2022-01-01  Smartphone  Electronics    600        10     6000        1
1   2022-01-01      Laptop  Electronics   1200         5     6000        1
2   2022-01-02     T-Shirt     Clothing     20        50     1000        1
3   2022-01-03  Headphones  Electronics    100        20     2000        1
4   2022-01-04     T-Shirt     Clothing     20        25      500        1
..         ...         ...          ...    ...       ...      ...      ...
364 2022-12-27       Watch  Accessories    150         5      750        4
365 2022-12-28        Coat     Clothing    100         5      500        4
366 2022-12-29  Headphones  Electronics    100        10     1000        4
367 2022-12-30  Smartphone  Electronics    600        11     6600        4
368 2022-12-31      Hoodie     Clothing     40        30     1200        4

[369 rows x 7 columns]

In [42]:
data["month"] = data["date"].dt.month

In [43]:
data

,date,product,category,price,quantity,revenue,quarter,month
0,2022-01-01,Smartphone,Electronics,600,10,6000,1,1
1,2022-01-01,Laptop,Electronics,1200,5,6000,1,1
2,2022-01-02,T-Shirt,Clothing,20,50,1000,1,1
3,2022-01-03,Headphones,Electronics,100,20,2000,1,1
4,2022-01-04,T-Shirt,Clothing,20,25,500,1,1
...,...,...,...,...,...,...,...,...
364,2022-12-27,Watch,Accessories,150,5,750,4,12
365,2022-12-28,Coat,Clothing,100,5,500,4,12
366,2022-12-29,Headphones,Electronics,100,10,1000,4,12
367,2022-12-30,Smartphone,Electronics,600,11,6600,4,12
368,2022-12-31,Hoodie,Clothing,40,30,1200,4,12

In [46]:
data["month_name"] = data["date"].dt.month_name()

In [47]:
data

,date,product,category,price,quantity,revenue,quarter,month,month_name
0,2022-01-01,Smartphone,Electronics,600,10,6000,1,1,January
1,2022-01-01,Laptop,Electronics,1200,5,6000,1,1,January
2,2022-01-02,T-Shirt,Clothing,20,50,1000,1,1,January
3,2022-01-03,Headphones,Electronics,100,20,2000,1,1,January
4,2022-01-04,T-Shirt,Clothing,20,25,500,1,1,January
...,...,...,...,...,...,...,...,...,...
364,2022-12-27,Watch,Accessories,150,5,750,4,12,December
365,2022-12-28,Coat,Clothing,100,5,500,4,12,December
366,2022-12-29,Headphones,Electronics,100,10,1000,4,12,December
367,2022-12-30,Smartphone,Electronics,600,11,6600,4,12,December
368,2022-12-31,Hoodie,Clothing,40,30,1200,4,12,December

In [48]:
data.groupby("month_name")["revenue"].sum()

month_name
April        57800
August       65260
December     64010
February     53740
January      65800
July         69510
June         58660
March        62560
May          69510
November     64110
October      66460
September    62910
Name: revenue, dtype: int64